{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="blog-cover">
    <img src="{% static 'quotes/images/pic4.png' %}" alt="Daily Affirmations" class="cover-image">
    <div class="cover-text">
        <h1>Daily Affirmations</h1>
    </div>
</div>

<div class="affirmations-container">
    {% if current_affirmation %}
        <div class="affirmation">
            <img src="{% static 'quotes/images/pic1.png' %}" alt="InspiraRise Daily Affirmations" class="logo">
            <p class="date">{{ current_affirmation.created_at|date:"F j, Y" }}</p>
            <p>{{ current_affirmation.text }}</p>
        </div>
    {% else %}
        <p>No affirmation available for today.</p>
    {% endif %}
</div>

<div class="subscription-container">
    <h2>Subscribe to Get Daily Affirmations</h2>
    <form method="post" action="{% url 'daily_affirmations' %}">
        {% csrf_token %}
        {{ subscription_form.as_p }}
        <button type="submit">Subscribe</button>
    </form>
</div>

<div class="previous-affirmations-carousel">
    <h2>Previous Affirmations</h2>
    {% if previous_affirmations %}
        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                {% for affirmation in previous_affirmations %}
                    <div class="carousel-item {% if forloop.first %}active{% endif %}">
                        <div class="affirmation">
                            <p class="date">{{ affirmation.created_at|date:"F j, Y" }}</p>
                            <p>{{ affirmation.text }}</p>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    {% else %}
        <p>No previous affirmations available.</p>
    {% endif %}
</div>

{% endblock %}
