{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="blog-cover">
    <img src="{% static 'quotes/images/pic3.png' %}" alt="Quotes" class="cover-image">
    <div class="cover-text">
        <h1>Quotes</h1>
    </div>
</div>

    <div class="generate-quotes">
        <h1 class="discover">Elevate Your Day with Powerful Quotes</h1>
        <form method="get" class="quote-form">
            <div class="form-group">
                <label for="category">Choose a Category:</label>
                {{ form.category }}
            </div>
            <button type="submit" class="submit-button">Get Quote</button>
        </form>
        <br>
    </div>

    {% if quotes %}
        <div class="quote-container">
            <div class="quote-content">
                <h3>"{{ quotes.content }}"</h3>
                <p class="quote-author">- {{ quotes.author }}</p>
                <hr>
                <p class="author-info">
                    {% if quotes.author_info %}
                        {{ quotes.author_info }}
                    {% else %}
                        Author is anonymous
                    {% endif %}
                </p>
                <hr>
            </div>
    {% else %}
            <p class="start-click">Select a Category and click Get Quote</p>
    {% endif %}
        </div>
{% endblock %}
